XK_LOGINNAME=""
XK_PASSWORD=""
XK_OCR_CAPTCHA="1"
XK_DEBUG="0"
XK_BATCH_KEYWORD=""
XK_CAMPUS="S"
XK_REQUEST_TIMEOUT=12
XK_REQUEST_INTERVAL=1
XK_MAX_ATTEMPTS=0
XK_CATEGORY=0
XK_REQUIRED_COURSES="COURSE_CODE:01"
XK_ELECTIVE_COURSES="COURSE_CODE"
